.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;

  input,
  button {
    font-size: 1.5rem;
    padding: 0.25rem;
    border: 3px solid rgb(186, 252, 181);
  }
  button {
    background-color: rgb(186, 252, 181);
    cursor: pointer;
  }
  button:hover {
    border-color: black;
  }
  /* 假设你的CSS文件名是 styles.css */
  .input::placeholder {
    font-size: 16px; /* 你需要的字体大小 */
  }
}
